* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  display: flex;
  align-items: center;
  width: 70vw;
  max-width: 70vw;
  padding:  10px 100px 10px 100px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-bottom: 1px solid #bebebe;
  background-color: #ffffff;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
/* .content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
} */



.select-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px; 
  width: 100vw;
  background-color: #333; 
  color: #fff; 
}

.select-menu a {
  text-decoration: none;
  color: #fff; 
  font-size: 16px;
  display: block; 
  padding: 10px; 
  transition: background-color 0.3s; 
}

.characterList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.characterCard {
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  border-radius: 10px;
}


/* Styles généraux pour le conteneur du select */
.select-container {
  position: relative;
  display: inline-block;
  margin: 20px;
}

/* Styles pour le select lui-même */
.select-style {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
}

/* Flèche stylisée pour le select */
.select-container::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #555;
  pointer-events: none; /* Empêche l'interaction avec la flèche */
}

/* Style au survol */
.select-style:hover {
  border-color: #aaa;
}

/* Style au focus */
.select-style:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(200, 200, 200, 0.5);
}




/***************************************** MODAL  **********************************/
.modal {
  position: absolute;
  margin: 0 auto;
  top: scrollY ;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3333336c;
  overflow: hidden;

}

.modal-content{
  position: relative;
  width: 80%;
  height: 80%;
  background-color: #fff;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);

}